/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  overflow-x: hidden;
}
section {
  margin: 90px 0;
}
.brand-color {
  color: #fb4848;
}
.btn-brand {
  border: 1px solid #fb4848;
  background-color: #fb4848;
  color: white;
}
.btn-brand:hover {
  background-color: white;
  color: #fb4848;
}

.btn{
  color: #fb4848;
}